<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list 3 </title>
  </head>
  <body>
      <h1>It's a good day</h1>
      <p>It´s a <%=kindOfDay %>  </p>
  </body>
</html>
