<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list 3 </title>
  </head>
  <body>
    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
      <h1 style = color:purple>It's a good day ... <%=day %></h1>
    <% }else{ %>
      <h1 style = color:blue>It's a good day ... <%=day %></h1>
    <% } %>
      <p>It´s a <%=kindOfDay %>  </p>
  </body>
</html>
